
.images{
    justify-content: space-around;
}
.image-container{
    height:500px;
    width: 350px;
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
}
.image-container img{
    height:100%;
    width:100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 9px rgb(6, 114, 78);
}
.fade::after{
    content:"Saurav Patel";
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background:black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 10px;
}
.fade:hover::after{
  opacity: 1;
}
.maindiv{
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    background-color:rgb(173, 241, 209);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(122,9,9,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(122,9,9,1);
box-shadow: 10px 10px 5px 0px rgba(122,9,9,1);
Copy Text
}
.attach{
    text-align: justify;
}
.account{
    margin-left:12%;
    margin-top:1.3%;
    font-size: 30px;
    color: red;
    margin-top: ;
}
.account a{
    font-size:20px;
}
